@import "tailwindcss/preflight";
@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";


:root {
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-family: var(--font-poppins);
}

body {
  background: #fff;
  color: #000;
  background: linear-gradient(to right,
      #ffffff,
      #f4f4f5,
      #ffffff);
}


.font-noto {
  font-family: var(--font-noto);
}

.font-mukta {
  font-family: var(--font-mukta);
}



/* h1, h2, h3 {
  font-family: var(--font-poppins);
}

.body-text {
  font-family: var(--font-noto);
} */


.global-bg {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}


.bg-left-rs {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image: url("/BG/RS.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24%;
  opacity: 0.12;
}


.bg-right-image {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  background-image: url("/BG/RS1.png");
  background-repeat: no-repeat;
  background-position: right 65%;
  background-size: 14%;
  opacity: 0.10;
}


.site-content {
  position: relative;
  z-index: 1;
}


@media (max-width: 768px) {
  .bg-right-image {
    background-position: right 85%;
    background-size: 28%;
  }
.bg-left-rs {
   background-size: 34%;
}
}


@keyframes floatRight {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(25px);
  }
}

.bg-right-image {
  animation: floatRight 16s ease-in-out infinite alternate;
}




@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
